# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL="https://mavouksishvhlydtndei.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1hdm91a3Npc2h2aGx5ZHRuZGVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc0MzQyODEsImV4cCI6MjA4MzAxMDI4MX0.Fac5Jo6D1zI1PYHkQj_z-EO3FAxL5qbb_PspHKcYeh4"

# Gemini API Key
GEMINI_API_KEY=AIzaSyA7UbL1SFiwUyPUlu_v3IUchOWc0g2aLpc